pkgbase = lampcord-bin
	pkgdesc = Discord client with a Compose Multiplatform interface
	pkgver = 1.0.0
	pkgrel = 1
	url = https://lampcord.lampu.lol
	arch = x86_64
	license = GPL-3.0-or-later
	depends = glibc
	depends = fuse2
	depends = java-runtime
	depends = libx11
	depends = libxext
	depends = libxrender
	depends = libxtst
	depends = libxi
	depends = libxkbcommon
	optdepends = webkit2gtk-4.1: embedded web content
	optdepends = pipewire: voice calls
	optdepends = libnotify: desktop notifications
	provides = lampcord
	conflicts = lampcord
	options = !strip
	options = !debug
	source = lampcord-desktop-linux-x64-1.0.0.AppImage::https://github.com/l6t9/Lampcord/releases/download/v1.0.0/lampcord-desktop-linux-x64-1.0.0.AppImage
	source = lampcord.desktop
	source = lampcord.png
	sha256sums = c6429e25d6995aa68721335b2520a82098ac51f8aa960659a3b1dc8143be07ad
	sha256sums = aad7c190d678bfe5c5b9c91d7b6075f0b63ecdfebe08d3bfe542f867db04da31
	sha256sums = b05f31ca9c0e6e1f091b6e848773703334a78ba19834b6dc6f1cebefbea6eb75

pkgname = lampcord-bin
